include ../../components/button.pug
include ../../components/picture.pug

mixin article(data)
	.article(class= 'article--' + data.size, style=`background-color: ${data.bgColor};`)
		if data.img
			.article__picture
				+picture(data.img, 'article__img')
		.article__wrapper
			if data.tag
				.article__tags= data.tag
			.article__title(style=`color: ${data.textColor};`)= data.title
			if data.desc
				.article__desc!= data.desc
			if data.more
				.article__more
					+button(data.more.btn, 'button--arrow article__button')
					if data.more.date
						.article__date= data.more.date
					if data.more.price
						.article__price!= data.more.price

