include ../components/container.pug

mixin footer(data)
	footer.footer
		+container('footer__container')
			.footer__top
				.footer__column
					a.footer__logo(href='/')
						svg
							use(xlink:href='./svg/sprite.svg#logo-2')
					each contact in data.contacts
						a.footer__contact-link(href=contact.url)
							.footer__icon-wrapper
								img(src=`./img/icons/${contact.icon}-mobile.png`)
							p= contact.text
					.footer__socials
						each social in data.socials
							a.footer__socials-icon(href='#')
								img(src=`./img/icons/${social}.png`)
				.footer__column-menu-wrapper
					each column, index in data.columns
						.footer__column-menu(class=(index === 0 ? '' : 'footer__column-menu--hide'))
							each menu in column.menues
								.footer__menu(class=(menu.links ? '' : 'footer__menu--empty'))
									a(href=menu.href).footer__menu-title= menu.title
									if menu.links
										nav.footer__menu-list
											each link in menu.links
												li.footer__menu-link
													a(href=link.href)= link.text
					.footer__expand
						span.footer__expand-arrow
			.footer__bottom
				.footer__copyrights
					span.footer__year= data.info.year
					span.footer__inn= data.info.inn
					span.footer__kpp= data.info.kpp
				a(href="#").footer__privacy-policy= data.info.policy
		.footer__bottom-mobile= data.info.year
