include ../components/container.pug

mixin footer(data)
	footer.footer
		+container('footer__container')
			.footer__top
				.footer__column
					a.footer__logo(href='/')
						svg
							use(xlink:href='./svg/sprite.svg#logo-2')
					each contact in data.contacts
						a.footer__contact-link(href=contact.url)
							svg
								use(xlink:href=`./svg/sprite.svg#${contact.icon}`)
							p= contact.text
					.footer__socials
						each social in data.socials
							a.footer__socials-icon(href='#')
								svg
									use(xlink:href=`./svg/sprite.svg#${social}`)
				each column in data.columns
					.footer__column-menu
						each menu in column.menues
							.footer__menu
								a(href=menu.href).footer__menu-title= menu.title
								if menu.links
									nav.footer__menu-list
										each link in menu.links
											li.footer__menu-link
												a(href=link.href)= link.text
			.footer__bottom
				.footer__copyrights
					span.footer__year= data.info.year
					span.footer__inn= data.info.inn
					span.footer__kpp= data.info.kpp
				a(href="#").footer__privacy-policy= data.info.policy
