include ../components/container.pug
include ../components/button.pug

mixin header(data)
	header.header
		.header__outer-wrapper
			a.header__logo(href='/')
				svg
					use(xlink:href='./svg/sprite.svg#logo')
				svg
					use(xlink:href='./svg/sprite.svg#logo-mobile')
			+container('header__container')
				nav.header__menu-list
					each link in data.links
						li.header__menu-link
							a(href=link.href)= link.text
			.header__contacts
				each contact in data.contacts
					a.header__contact-link(href=contact.url)
						picture
							source(media='(min-width: 1280px)', srcset=`./img/icons/${contact.icon}.png`)
							img(src=`./img/icons/${contact.icon}-mobile.png`)
						p= contact.text
				.header__buttons
					+button(data.button, 'header__callme')
					a(href=data.send.href)= data.send.text
				.header__hamburger
					span

		.header-mobile-nav
			each contact in data.contacts
				a.header-mobile-nav__contact-link(href=contact.url)
					img(src=`./img/icons/${contact.icon}-mobile.png`)
					p= contact.text
			nav.header-mobile-nav__menu-list
				each link in data.links
					li.header-mobile-nav__menu-link
						a(href=link.href)= link.text
			a.header-mobile-nav__contact-link(href='tel:+74952150365')
				img(src='./img/icons/phone.png')
				p 8 (495) 215-03-65
			.header-mobile-nav__socials
				each social in data.socials
					a.header-mobile-nav__socials-icon(href='#')
						img(src=`./img/icons/${social}.png`)


