include ../components/container.pug
include ../components/button.pug

mixin header(data)
	header.header
		.header__outer-wrapper
			a.header__logo(href='/')
				svg
					use(xlink:href='./svg/sprite.svg#logo')
			+container()
				nav.header__menu-list
					each link in data.links
						li.header__menu-link
							a(href=link.href)= link.text
			.header__contacts
				each contact in data.contacts
					a.header__contact-link(href=contact.url)
						svg
							use(xlink:href=`./svg/sprite.svg#${contact.icon}`)
						p= contact.text
				.header__buttons
					+button(data.button, 'header__callme')
					a(href=data.send.href)= data.send.text
		.header__mobile
			a.header__logo(href='/')
				svg
					use(xlink:href='./svg/sprite.svg#logo-mobile')
			.header__buttons-mobile
				each contact in data.contacts
					a.header__contact-link(href=contact.url)
						svg
							use(xlink:href=`./svg/sprite.svg#${contact.icon}`)
				.header__hamburger
					span

