mixin button(data, className, icon)
	if(data && data.href && data.text)
		if(data.span && data.span==="true")
			a.button(href=data.href, class=className)
				span= data.text
		else
			a.button(href=data.href, class=className)= data.text
	else
		button.button(class=className)
			span= ((data && data.text)? data.text: 'Подробнее')
			if icon
				svg
					use(xlink:href=`./svg/sprite.svg#${icon}`)
